<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ElastiTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Elasticity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ElasticityKitWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ElastictityKitiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60EFCE801BA232C3002C70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60EFCE941BA232C3002C70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60EFCEA71BA32D83002C70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60EFCEB71BA32D83002C70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60EFCEC91BA45680002C70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60EFCED61BA456A0002C70C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
